# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode
.pytest_cache
__pycache__/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node_modules


# backend
## python env directory
*-env


# terraform
*.tfstate*
*.tfvars
.terraform
*.hcl

# others(sandbox)
sample


# reflection
# 1. git rm -r --cached . 
# 2. add, commit 